

.Trending {
    /* border: 1px solid #9a9a9a; */
    padding: .6em 1em;
    max-width: 300px;
    text-align: center;
}

.trending-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* gap: .6em; */
}

.trending-rank {
    text-align: left;
    /* width: 100px; */
    width: 20%;
}
.trending-name {
    font-weight: 600;
    font-size: 1.1rem;
}

.trending-symbol {
    font-weight: 400;
        font-size: 1rem;


}
.trending-logo {
    width: 30px;
}
